html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.leaflet-container {
    font-size: 1rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered horizontally */
  padding: 15px;
  border: 1px solid #888;
  width: 90%;
  max-width: 400px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.leaflet-popup button {
  width: 100%;
}

/* Override cluster colors */

.marker-cluster-small {
	background-color: rgba(250, 200, 152, 0.6) !important;
	}
.marker-cluster-small div {
	background-color: rgba(255, 165, 0, 0.6) !important;
	}

.marker-cluster-medium {
	background-color: rgba(250, 200, 152, 0.6) !important;
	}
.marker-cluster-medium div {
	background-color: rgba(255, 165, 0, 0.6) !important;
	}

.marker-cluster-large {
	background-color: rgba(250, 200, 152, 0.6) !important;
	}
.marker-cluster-large div {
	background-color: rgba(255, 165, 0, 0.6) !important;
	}

/* Layers */

.grayscale {
  filter: grayscale(100%);
}

#infoBox {
  position: fixed;
  bottom: 5px; left: 5px; width: 250px; height: 30px;
  border: 2px solid grey; z-index:9999;
  border-radius: .3rem;
  padding: 2px 2px 2px 2px;

  background-color:white;
  opacity: .85;
  color: black;

  font-size: 14px;
  font-weight: bold;
}

#suggestions {
    border: 1px solid #ddd;
    max-height: 400px;
    overflow-y: auto;
}

#suggestions div {
    padding: 8px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f1f1f1;
}
